#footer {
    height: 60px;
    background-color: #f5f5f5;
}

.credit {
    margin-top: 20px;
    text-align:center
}

.thumbnail {
    float: right;
    margin: 15px;	
}

.sidebar {
    float:right;
}

.subhead {
    background-image: url('images/budapest.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 45px;
    color: white;
    text-shadow: 3px 3px 5px black;
    margin-bottom: 10px;
    white-space: nowrap;
    text-align: center;
}

.subhead h1 {
    font-size: 60px;
}

.subhead .lead {
    margin-bottom: -25px;
}

.subhead p {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 300;
}

#logodiv {
    text-align: center;
}
#logodiv img {
    max-width: 75%;
    margin-bottom: 10px;
}

.nav li a {
    color: #003399;
}

.affix {
    top: 10px;
}

#emptyness {
    height: 20px;

}

#regscreenshot{
    margin-top: 10px;
    margin-bottom: 15px;
}

section {
    padding-top: 10px;
}

@media all and (max-width:779px){
    .affix {
	position: static;
    }
    .subhead h1 {
	font-size: 32px;
    }
    
    .subhead p {
	font-size: 24px;
	font-weight: 300;
    }

    #sponsors li{
	width: 200px;
	margin: auto;
    }
}

@media all and (max-width:479px){
    .subhead, .media-object {
	display: none;
    }

}

.media-object{
    width: 64px;
    margin-right: 25px;
}


.speaker {
    text-align: center;
    margin-top: 15px;
}
.speaker .speaker-photo {
    width: 40%;
    height: auto;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.speaker .speaker-photo img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.speaker .speaker-name {
    padding-top: 10px;
    font-size: 2em;
}
.speaker .speaker-affiliation {
    padding-top: 10px;
    font-size: 1.5em;
}
.speaker .speaker-bio {
    display: none;
}
.speaker .speaker-social {
    padding: 5px;
}

#speakers .speaker .speaker-photo {
    width: 50%;
}
#speakers .speaker .speaker-name {
    font-size: 1.75em;
}
#speakers .speaker .speaker-affiliation {
    font-size: 1.3em;
}

#sponsors {
    text-align: center;
}
#sponsors h1,h3,p {
    text-align: left;
}
#sponsors img {
    padding: 5px;
}
#sponsors img.platinum {
    width: 500px;
}
#sponsors img.gold {
    width: 400px;
}
#sponsors img.silver {
    width: 300px;
    padding-left: 25px;
    padding-right: 25px;
}
#sponsors img.bronze {
    width: 200px;
    margin-left: 50px;
    margin-right: 50px;
}

.talk {
    color: #08c;
    text-decoration: underline;
}

.abstract {
    display: none;
    background-color: #ddd;
    margin-top: 15px;
    border: 2px solid;
    padding: 5px;
}

/* Mailchimp form */
#mc_embed_signup {
    margin-top: 20px;
    margin-bottom: -25px;
}
#mc_embed_signup .button {
    background-color: #0088CC !important;
    margin-top: -8px !important;
}
#mc_embed_signup .button:hover {
    background-color: #2165B6 !important;
}